################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sagar.BookStore/.vs/Sagar.BookStore/v16
/Sagar.BookStore/Sagar.BookStore/obj
/Sagar.BookStore/Sagar.BookStore/wwwroot
