
@*@{ 
    ViewData["Title"] = "Home";
}*@
<section class="jumbotron text-center">
    <div class="controller">
        <environment include="Development">
            <h3>Development</h3>
        </environment>
        <environment include="Production,Staging">
            <h3>Production</h3>
        </environment>
        <h1>Welcome to Book Store</h1>
        <p>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        @*@await Component.InvokeAsync("TopBooks")*@ 
        <vc:top-books></vc:top-books>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
           // alert("documentis ready")
        });
    </script>
}

