
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to book store</h1>
    <input type="button" class="btn btn-danger" value="click me"/>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("page loading");
    })
</script>
